*{
    margin: 0;
    padding: 0;
}



/* general */


 nav{
     font-size: 1.5em;
     background: darkcyan;
    
 }

 nav ul{
     list-style: none;
     padding: 0;
     display: table;
     background: darkcyan;
     position: absolute;
     width: 100%;
 }

 nav a{
     text-decoration: none;
     display: block;
     padding: 0 3em;
     color: black;
 }

 /* primer nivel */
 nav > ul >li{
     float: left;
     width: 320px;
     line-height: 60px;
 }

 nav li {
     position: relative;
 }

 /* segundo nivel */
 nav li li{
     max-height: 0;
     transition: all 5s;
     overflow: hidden;
 }

 nav li:hover > ul >li{
     visibility: visible;
     max-height: 500px;
     overflow: visible;
 }

 /* tercer nivel */

 nav ul ul ul{
     left: 100%;
     top: 0;
 }


 h1{
    text-align: center;
  /*     margin-top: 50px; */
    font-family: cursive;
}