*{
    margin: 0;
    padding: 0;
}
body{
    background: #fefefe;
}
.menu_bar{
    display: none;
}
header{
    width: 100%;
}
header nav{
    background: #023859;
    width: 100%;
}
nav ul{
    list-style: none;
    text-align: right;
}
nav ul li{
    display: inline-block;
    position: relative;
}
nav ul li:hover {
    background: red;
}
nav ul li a{
    color:white;
    display: block;
    text-decoration: none;
    padding: 20px;
}
nav ul li .children{
display: none;
position: absolute;
background: #011826;
text-align: left;
}
nav ul li:hover .children {
display: block;
width: 120%;
text-align: left;
}
nav ul li .children li{
    overflow: hidden;
    display: block;
    border-bottom: 1px solid gray;
}
nav ul li .children li a{
    display: block;
}
nav ul li span {
    margin-right: 10px;
}

nav ul li .children li a span{
    float: right;
    position: relative;
    top: 3px;
    margin-right: 0;
    margin-left: 0;
}
nav ul li .icon-chevron-small-down{
    position: relative;
    top: 3px;
    margin-left: 10px;
}
@media screen and (max-width:800px){
    body{
        padding-top: 80px;
    }
    .menu_bar{
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        background: #07293f;
    }
    .menu_bar .bt-menu{
        display: block;
        padding: 20px;
        color: #fff;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }
    .menu_bar span{
        float: right;
        font-size: 40px;
    }
    header nav{
        width: 80%;
        height: calc(100% - 80px);
        position: fixed;
        right: 100%;
        margin: 0;
        overflow: scroll;
    }
    header nav ul{
        text-align: left;
    }
    header nav ul li{
        display: block;
        border-bottom: 1px solid grey;
    }
    header nav ul li a{
        padding: 12px;
        display: block;
    }
    header nav ul li .children{
        position: relative;
        width: 100%;
    }
    header nav ul li .children li a{
        margin-left: 20px;
    }
     nav ul li .icon-chevron-small-down{
         float: right;
     }
    header nav ul li:hover .children{
        display: none;
    } 
    p{
        text-align: justify;
    }
}


/* CONTENIDO "TEXTO" */
h1{
    text-align: center;
    font-family: cursive;
    font-weight: bold;
  
}

p{
    text-align: center;
}