* {
  margin: 0;
  padding: 0;
}
.menuvertical {
  color: white;
  margin: 25px 25px 25px 10px;
  display: inline-block;
  width: 20%;
  /* background-color: blue; */
}
ul {
  list-style-type: none;
  font-size: 2em;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 5px solid darkcyan;
  cursor: pointer;
}
li {
  background-color: darkcyan;
  margin: 3px;
  padding: 10px 15px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: italic;
  font-weight: unset;
}

li:hover {
  background: rgba(14, 94, 94, 0.856);
}
.caja {
  /* background-color: darkgoldenrod; */
  display: flex;
}
.container {
  background-color: darkcyan;
  width: 30%;
  height: 28em;
  margin: 20px;
  display: block;
  border-radius: 15px;
}
.container {
  background-image: url("chuleta-jpg.jpg");
}
