*{
    margin: 0;
    padding: 0;
}
nav{
    background: black;
    font-size: 1.4em;
}

ul{
    list-style: none;
    text-align: right;
}
li{
   display: inline-block;
   padding: 20px 40px 20px 0;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.icon{
    color: white;
    margin-right: 0.2em;
    font-size: 0.85em;
}
.bt-menu{
    display: none;
}
.menu_bar{
    display: none;
}
.children{
    position: absolute;
}
.icon-chevron-small-down{
    margin-left: 30px;
}
li:hover .children{
    display: block;
    background: rgb(0,0,0,.8);
    width: 200px;
}
.children li{
    overflow: hidden;
    display: block;
}
@media only screen and(max-width:900px){
    nav{ 
     width: 80%;
    }
    .menu_bar{
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 2.5em;
    }
    .menu_bar .bt-menu{
        color: white;
    }
    nav{
        height: calc(100%-80px);
        position: fixed;
        height: 100vh;
        overflow: scroll;
        right: 100%;
    }
    li{
        display: block;
        text-align: center;}

    li:hover .children{
        display: none;
    }
    }