* {
  margin: 0;
  padding: 0;
}

.img_1 {
  /* imagen con el efecto paralax */
  width: 100%;
  height: 520px;
  background-image: url("1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.texto-caja {
  /* cuadro que esta ensima del texto */
  background: #111;
  padding: 18px;
  width: 320px;
  text-align: center;
  color: azure;
  border-radius: 5px;
}
.caja {
  font-size: 32px;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
}
a {
  color: aliceblue;
}

.texto-caja:hover {
  background: chocolate;
}

.paralax:hover {
  font-size: 35px;
}
