@charset "utf-8";
/* ----body o cuerpo---- */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(238, 205, 165);
  font-family: "calibri light";
}

/**------------contenido-------------*/
.titulo-principal {
  font-family: italic;
  color: #a43b06;
  font-size: 3em;
  margin-top: 30px;
}

h1,
h2 {
  text-align: center; /** titulo y subtitulo */
}

/* .img_1 {
  margin: 0 auto 0 auto; /* imagen del body 
  display: block;
  margin-top: 50px;
} */

p.parrafo1 {
  text-align: center; /** parrafo */
  font-size: 25px;
  color: #6e6e6e;
}

/* espaciados */

.espaciado {
  font-size: 3.5em;
  text-align: center;
  letter-spacing: 0.3em;
  word-spacing: 0.3em;
}
/* menu y carta */

#menuycarta {
  text-align: center;
  font-style: normal;
  color: #b44027;
  font-weight: 400;
  font-size: 2em;
}
.menucarta {
  display: block;
  margin: 10px auto;
  font-size: 5px;
}
p.menutexto {
  text-align: center;
  color: #b44027;
  font-size: 20px;
  font-style: normal;
  line-height: 0.2em;
}

div.tarjetasimajenes {
  padding: 5px;
  margin: 30px -90px 30px 200px /* auto */; /* modificamos el margin */
  padding: 10px;
  
  background-color: gainsboro;
  display: inline-block;
  border-radius: 5px;
  width: 360px;
  /* ---------modificaciones------------------- */
  /* cursor: pointer; */
}
/*------------ MODIFICACIONES MAYO 4 DEL 2021 -----*/
/* link boton */
/* boton en el link */
.estilo_enlace {
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: helvetica;
  font-weight: 300;
  font-size: 25px;
  font-style: italic;
  color: #a43b06;
  background-color: #da6b33;
  border-radius: 15px;
  border: 3px double #a43b06;
}

.estilo_enlace:hover {
  color: #f5f4f4;
  background-color: #df57387a;
}

/**---------------------pie de pagina-----------*/

/*  */
@media screen and (min-width: 173px) and (max-width: 1024px) {
  .img_1 {
    width: 100%;
    height: 400px;
    /* 
     */
  }
  div.tarjetasimajenes {
    width: 20%;
    display: block;
    margin: 100px;
    padding: 10px;
    height: 350px;
  }

  img {
    width: 100%;
    height: 250px;
    padding: 0%;
  }
  p {
    font-size: 25px;
  }
  p.espaciado {
    font-size: 25px;
  }
}
