@charset "utf-8";
/**----body o cuerpo----*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(238, 205, 165);
  font-family: "calibri light";
}

/**---------cara bonita o presentacion----------*/
/**1-linea*/
#linea {
  width: 100%;
  height: 5px;
  background: #df5838;
}
/**--------Menu------------*/
.menu-main {
  display: flex;
  justify-content: space-between;
  background: #b44027; /* color de los cuadros */
  border-bottom: 1px solid #bb4e1b;
  height: 45px;
}

.menu-main a {
  flex: 1;
  font-family: arial;
  display: flex;
  color: #ffffff; /* color texto */
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  font-weight: bold;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.menu-main a:hover {
  background: rgba(0, 0, 0, 0.1);
}

@media (max-width: 717px) {
  .menu-main {
    height: auto;
    border-bottom: 0px;
    display: block;
  }

  .menu-main a {
    height: 45px;
    border-bottom: 1px solid #df5838; /* linea que ba debajo de cada cuadro */
  }
}
/**------------contenido-------------*/
h1 {
  font-family: italic;
  color: #a43b06;
}

h1,
h2 {
  text-align: center; /** titulo y subtitulo */
}

img {
  margin: 0 auto 0 auto; /* imagen del body  */
  display: block;
}

p.parrafo1 {
  text-align: center; /** parrafo */
  font-size: 25px;
  color: #6e6e6e;
}

/* espaciados */

.espaciado {
  font-size: 3.5em;
  text-align: center;
  letter-spacing: 0.3em;
  word-spacing: 0.3em;
}
/* menu y carta */

#menuycarta {
  text-align: center;
  font-style: normal;
  color: #b44027;
  font-weight: 400;
  font-size: 2em;
}
.menucarta {
  display: block;
  margin: 10px auto;
  font-size: 5px;
}
p.menutexto {
  text-align: center;
  color: #b44027;
  font-size: 20px;
  font-style: normal;
  line-height: 0.2em;
}

div.tarjetasimajenes {
  padding: 5px;
  margin: 30px -90px 30px 200px /* auto */; /* modificamos el margin */
  padding: 10px;
  padding: 10px;
  padding: 10px;
  background-color: gainsboro;
  display: inline-block;
  border-radius: 5px;
  width: 360px;
  /* ---------modificaciones------------------- */
  /* cursor: pointer; */
}
/*------------ MODIFICACIONES MAYO 4 DEL 2021 -----*/
/* link boton */
/* boton en el link */
.estilo_enlace {
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: helvetica;
  font-weight: 300;
  font-size: 25px;
  font-style: italic;
  color: #a43b06;
  background-color: #da6b33;
  border-radius: 15px;
  border: 3px double #a43b06;
}

.estilo_enlace:hover {
  color: #f5f4f4;
  background-color: #df57387a;
}

/**---------------------pie de pagina-----------*/

/*  */
@media screen and (min-width: 173px) and (max-width: 1024px) {
  .img_1 {
    width: 100%;
    height: 400px;
  }
  div.tarjetasimajenes {
    width: 20%;
    display: block;
    margin: 100px;
    padding: 10px;
    height: 350px;
  }

  img {
    width: 100%;
    height: 250px;
    padding: 0%;
  }
  p {
    font-size: 25px;
  }
  p.espaciado {
    font-size: 25px;
  }
}
