* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* padding: 10px 20px 0; */
}
.menu {
  background-color: #a43b06;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
nav {
  display: flex;
  justify-content: space-between; /* para que se aline el logo asia la derecha */
  max-width: 992px;
  margin: 0 auto;
}

.link,
.logo {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  padding: 0 5px;
  line-height: 60px; /* para centrar */
}
.nav1 {
  display: flex;
  margin-right: 40px; /* para separar de la derecha */
  list-style: none;
}
.nav-menu {
  font-size: 18px;
  margin: 0 10px;
  line-height: 60px;
  text-transform: uppercase;
  width: max-content;
}
.link {
  padding: 8px 12px;
  border-radius: 3px;
}
.link:hover,
.link-active {
  background-color: #a43b06;
  transition: 0.5s; /* para que no sea tan brusco el efecto */
}
.bot {
  /* boton tipo amburgesa */
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  body {
    padding-top: 70px 20px 0;
    /* background-color: red; */
  }
  .menu {
    height: 50px;
  }

  .logo {
    font-size: 25px;
    line-height: 50px;
    padding: 0 10px;
  }
  .nav1 {
    flex-direction: column; /* para que este unu ensima del otro */
    margin-right: 20px; /* para separar de la derecha */
    background-color: #b84b14fd;
    position: fixed;
    left: 0;
    top: 50px;
    width: 100%;
    align-items: center;
    padding: 20px 0;

    height: calc(100% - 50px); /* para que agarretodo e alto */
    overflow-y: auto; /* para poder vajar cuando el dispositivo es muy pequeño */
    left: 100%;
    transition: left 0.3s;
  }
  .nav-menu {
    line-height: 50px;
  }

  .link:hover,
  .link-active {
    background: none;
    color: #4e2816;
  }
  .bot {
    display: block;
  }
  .nav-menu-visible {
    /* para que aparesca el menu */
    left: 0;
  }
}
