*{
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

.navbar{
    display: flex;
    align-items: center;
    
   background-color: rgb(13, 15, 134);
   display: grid; 
   grid-template-columns:20px 50px 50px 10px ;
   grid-template:"logo primeraf segundaf terceraf"/
                    1fr 2fr 1fr 1fr;
   padding: 16px;
}
.navbar > div{
    display: grid;
    display: flex;
}
.logo{
    width: 150px;

}
.a{
    grid-area: logo;
    
}
.b{
    grid-area: primeraf;
}
.c{
    grid-area: segundaf;
    
}
.d{
    grid-area:terceraf;

}
.sesion{
    background: rgba(255, 255, 255, 0.397);
    border-radius: 15px;
    padding: 10px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: flex;
    margin-left: 10px;
    padding: 8px;
}
a:hover{
    color: rgba(255, 255, 255, 0.555);
    
    
}